div {
  border: 0px dotted red !important;
}

#div-title-todolist {
  height: 40px;
}

#div-outer-todolist {
  height: 350px;
}

#div-todolist {
  height: 305px;
  overflow: auto;

  /* width: 90%; */
  margin: auto;
}

#ul-todolist {
  /* height: 360px;
  overflow: scroll; */
  width: 90%;
  margin: auto;
}

.list-group-item {
  height: 34px;
}

#div-search {
  height: 40px;
}

#input-search {
  height: 25px;
  background: #ddd;
  margin: 5px;
  font-size: 14px;
  text-align: center;
}

input {
  border: 0px;
}

.div-sidebar-light {
  background-color: #eeeeee;
}